<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Document</title>

        <link rel="stylesheet" href="../styles/main.css" />
    </head>
    <body>
        <main>
            <div class="container">
                <button class="arrow arrow-left">
                    <div class="icon"></div>
                </button>
                <button class="arrow arrow-right">
                    <div class="icon"></div>
                </button>
                <div class="gallery-wrapper">
                    <div class="gallery">
                        <img
                            class="item current-item"
                            src="https://source.unsplash.com/random/250x250/?beach"
                            alt="Beach Images"
                        />
                        <img
                            class="item"
                            src="https://source.unsplash.com/random/250x250/?animal"
                            alt="Animal Images"
                        />
                        <img
                            class="item"
                            src="https://source.unsplash.com/random/250x250/?mountain"
                            alt="Mountain Images"
                        />
                        <img
                            class="item"
                            src="https://source.unsplash.com/random/250x250/?night"
                            alt="Night Images"
                        />
                        <img
                            class="item"
                            src="https://source.unsplash.com/random/250x250/?city"
                            alt="City Images"
                        />
                        <img
                            class="item"
                            src="https://source.unsplash.com/random/250x250/?space"
                            alt="Space Images"
                        />
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="../scripts/index.js"></script>
</html>
